

<div class="flex justify-around mt-20" [ngClass]="themeService.getColorScheme().bgPrimary">
<div class="mb-4">
  <h3 class="text-xl font-bold mb-2 text-center" [ngClass]="colorScheme?.textPrimary">Add Tutorial</h3>
  <form (ngSubmit)="addTutorial()">
    <div class="flex flex-col">
      <input type="text" class="border border-gray-300 p-2 rounded mb-2" [(ngModel)]="newTutorial.title" name="title" placeholder="Title">
      <input type="text" class="border border-gray-300 p-2 rounded mb-2" [(ngModel)]="newTutorial.description" name="description" placeholder="Description">
      <input type="text" class="border border-gray-300 p-2 rounded mb-2" [(ngModel)]="newTutorial.author" name="author" placeholder="Author">


      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add</button>
    </div>
  </form>
</div>

<div *ngIf="selectedTutorial" class="mb-4" >
  <h3 class="text-xl font-bold mb-2" [ngClass]="colorScheme?.textPrimary">Edit Tutorial</h3>
  <form (ngSubmit)="updateTutorial()">
    <div class="flex flex-col">
      <input type="text" class="border border-gray-300 p-2 rounded mb-2" [(ngModel)]="selectedTutorial.title" name="title" placeholder="Title">
      <input type="text" class="border border-gray-300 p-2 rounded mb-2" [(ngModel)]="selectedTutorial.description" name="description" placeholder="Description">
      <input type="text" class="border border-gray-300 p-2 rounded mb-2" [(ngModel)]="selectedTutorial.author" name="author" placeholder="Author">


      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Update</button>
    </div>
  </form>
</div>



<!-- Tutorial List -->
  <table class="border-collapse border border-gray-300" [ngClass]="themeService.getColorScheme().textPrimary">
    <thead>
      <tr>
        <th class="border border-gray-300 p-2">Title</th>
        <th class="border border-gray-300 p-2">Description</th>
        <th class="border border-gray-300 p-2">Author</th>
        <th class="border border-gray-300 p-2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tutorial of tutorials" class="mb-2">
        <td class="border border-gray-300 p-2">{{ tutorial.title }}</td>
        <td class="border border-gray-300 p-2">{{ tutorial.description }}</td>
        <td class="border border-gray-300 p-2">{{ tutorial.author }}</td>
        <td class="border border-gray-300 p-2">
          <button (click)="selectTutorial(tutorial)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-2">Edit</button>
          <button (click)="deleteTutorial(tutorial)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded ml-2">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

